#header {
  background: transparent;
  padding: 0; }

.top-head {
  background-color: #0462C6;
  padding: 7px 0; }
  .top-head-phone {
    color: #fff;
    text-align: center;
    font-size: 20px; }
  .top-head-phones {
    padding-top: 10px; }
  .top-head .glyphicon {
    color: #69c569;
    font-size: 18px; }
  .top-head-title,
  .top-head-title a, .top-head-subtitle {
    text-align: center;
    color: #fff; }
  .top-head-title {
    font-size: 36px;
    margin-bottom: 15px; }
  .top-head-btns {
    text-align: center;
    margin-top: 7px; }

.navbar {
  padding: 2em 0;
  background-color: #213047; }
  .navbar-default {
    background-image: none;
    border-color: transparent;
    border-radius: 0; }
  .navbar-collapse {
    padding-right: 0; }
  .navbar-brand {
    padding: 0.5em 0; }

.nav {
  padding: 1em 0; }

.language-container {
  margin: 7px 0; }

body p {
  font-size: 16px; }

.block-heading {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 50px; }
  .block-heading:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #EE6247;
    z-index: 2; }
  .block-heading:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -8%;
    width: 16%;
    height: 4px;
    background: #0462C6; }

section.results {
  padding: 2em 0; }
  section.results img {
    margin-top: -50px; }

section .try-item {
  font-size: 20px;
  padding: 0 40px; }

section .to-buy-heading {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left; }

.table-bordered.prices {
  background: #fff; }

#ps-carousel-feedback .carousel-inner.feedbacks > .item {
  height: 310px;
  padding: 0 5px; }

#ps-carousel-feedback {
  margin-bottom: 30px; }

#regions_chart {
  width: 90%;
  margin: -10px auto 0; }

section .certificate-bg {
  background-image: url("../images/Doctor.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 25% 50%; }

.instruction-paper {
  background-image: url("../images/IMG_252320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  padding: 50px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5); }

.instruction-bg {
  background-image: url("../images/Doctor2.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 100% 50%; }

.instruction-heading {
  font-size: 18px;
  font-weight: 700;
  color: #000; }

.price-wrap {
  position: relative; }
  .price-wrap img {
    width: 100%;
    vertical-align: bottom; }

.price-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 100%;
  margin-left: -50%; }

.price-weight1 {
  font-size: 14px; }

.price-weight2 {
  font-size: 18px; }

.price-weight3 {
  font-size: 24px; }

.price-size1 {
  font-size: 14px; }

.price-size2 {
  font-size: 18px; }

.price-size3 {
  font-size: 24px; }

.price span {
  font-weight: 700;
  color: #0462C6; }

#footer {
  background: #213047; }
